<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.knight.infrastructure.dao.mapper.AirDropRecordMapper">

    <resultMap id="BaseResultMap" type="org.knight.infrastructure.dao.domain.AirDropRecordEntity">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="airDropTime" column="air_drop_time" jdbcType="TIMESTAMP"/>
        <result property="collectionId" column="collection_id" jdbcType="VARCHAR"/>
        <result property="issuedCollectionId" column="issued_collection_id" jdbcType="VARCHAR"/>
        <result property="memberId" column="member_id" jdbcType="VARCHAR"/>
        <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
        <result property="version" column="version" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,air_drop_time,collection_id,
        issued_collection_id,member_id,order_no,
        version
    </sql>
</mapper>
