<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.knight.infrastructure.dao.mapper.CollectionMapper">

    <resultMap id="BaseResultMap" type="org.knight.infrastructure.dao.domain.CollectionEntity">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="collectionHash" column="collection_hash" jdbcType="VARCHAR"/>
        <result property="commodityType" column="commodity_type" jdbcType="VARCHAR"/>
        <result property="cover" column="cover" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="creatorId" column="creator_id" jdbcType="VARCHAR"/>
        <result property="deletedFlag" column="deleted_flag" jdbcType="BIT"/>
        <result property="deletedTime" column="deleted_time" jdbcType="TIMESTAMP"/>
        <result property="externalSaleFlag" column="external_sale_flag" jdbcType="BIT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="price" column="price" jdbcType="DOUBLE"/>
        <result property="quantity" column="quantity" jdbcType="INTEGER"/>
        <result property="saleTime" column="sale_time" jdbcType="TIMESTAMP"/>
        <result property="stock" column="stock" jdbcType="INTEGER"/>
        <result property="syncChainTime" column="sync_chain_time" jdbcType="TIMESTAMP"/>
        <result property="version" column="version" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,collection_hash,commodity_type,
        cover,create_time,creator_id,
        deleted_flag,deleted_time,external_sale_flag,
        name,price,quantity,
        sale_time,stock,sync_chain_time,
        version
    </sql>
    <select id="getPageByTypeOrName" resultType="org.knight.infrastructure.dao.domain.CollectionEntity">
        select
        <include refid="Base_Column_List"/>
        from collection
        where commodity_type = #{commodityType}
        and name like concat('%',#{name},'%')
        order by create_time desc
    </select>
    <select id="getPageByType" resultType="org.knight.infrastructure.dao.domain.CollectionEntity">
        select
        <include refid="Base_Column_List"/>
        from collection
        where commodity_type = #{commodityType}
        order by create_time desc
    </select>
    <select id="getPageByName" resultType="org.knight.infrastructure.dao.domain.CollectionEntity">
        select
        <include refid="Base_Column_List"/>
        from collection
        where name like concat('%',#{name},'%')
        order by create_time desc
    </select>
    <select id="getPage" resultType="org.knight.infrastructure.dao.domain.CollectionEntity">
        select
        <include refid="Base_Column_List"/>
        from collection
        order by create_time desc
    </select>
</mapper>
