<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.knight.infrastructure.dao.mapper.ComposeActivityMapper">

    <resultMap id="BaseResultMap" type="org.knight.infrastructure.dao.domain.ComposeActivityEntity">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="activityTimeEnd" column="activity_time_end" jdbcType="TIMESTAMP"/>
        <result property="activityTimeStart" column="activity_time_start" jdbcType="TIMESTAMP"/>
        <result property="collectionId" column="collection_id" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="deletedFlag" column="deleted_flag" jdbcType="BIT"/>
        <result property="deletedTime" column="deleted_time" jdbcType="TIMESTAMP"/>
        <result property="quantity" column="quantity" jdbcType="INTEGER"/>
        <result property="stock" column="stock" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="version" column="version" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,activity_time_end,activity_time_start,
        collection_id,create_time,deleted_flag,
        deleted_time,quantity,stock,
        title,version
    </sql>
</mapper>
