<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.knight.infrastructure.dao.mapper.ExchangeCodeMapper">

    <resultMap id="BaseResultMap" type="org.knight.infrastructure.dao.domain.ExchangeCodeEntity">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="collectionId" column="collection_id" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="deletedFlag" column="deleted_flag" jdbcType="BIT"/>
        <result property="deletedTime" column="deleted_time" jdbcType="TIMESTAMP"/>
        <result property="exchangeTime" column="exchange_time" jdbcType="TIMESTAMP"/>
        <result property="issuedCollectionId" column="issued_collection_id" jdbcType="VARCHAR"/>
        <result property="memberId" column="member_id" jdbcType="VARCHAR"/>
        <result property="state" column="state" jdbcType="VARCHAR"/>
        <result property="version" column="version" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,code,collection_id,
        create_time,deleted_flag,deleted_time,
        exchange_time,issued_collection_id,member_id,
        state,version
    </sql>
</mapper>
