<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.knight.infrastructure.dao.mapper.MemberResaleCollectionMapper">

    <resultMap id="BaseResultMap" type="org.knight.infrastructure.dao.domain.MemberResaleCollectionEntity">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="cancelTime" column="cancel_time" jdbcType="TIMESTAMP"/>
        <result property="collectionId" column="collection_id" jdbcType="VARCHAR"/>
        <result property="issuedCollectionId" column="issued_collection_id" jdbcType="VARCHAR"/>
        <result property="lockPayMemberId" column="lock_pay_member_id" jdbcType="VARCHAR"/>
        <result property="memberHoldCollectionId" column="member_hold_collection_id" jdbcType="VARCHAR"/>
        <result property="memberId" column="member_id" jdbcType="VARCHAR"/>
        <result property="resalePrice" column="resale_price" jdbcType="DOUBLE"/>
        <result property="resaleTime" column="resale_time" jdbcType="TIMESTAMP"/>
        <result property="soldTime" column="sold_time" jdbcType="TIMESTAMP"/>
        <result property="state" column="state" jdbcType="VARCHAR"/>
        <result property="version" column="version" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,cancel_time,collection_id,
        issued_collection_id,lock_pay_member_id,member_hold_collection_id,
        member_id,resale_price,resale_time,
        sold_time,state,version
    </sql>
</mapper>
