<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.knight.infrastructure.dao.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="org.knight.infrastructure.dao.domain.MenuEntity">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="deletedFlag" column="deleted_flag" jdbcType="BIT"/>
        <result property="deletedTime" column="deleted_time" jdbcType="TIMESTAMP"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="orderNo" column="order_no" jdbcType="DOUBLE"/>
        <result property="parentId" column="parent_id" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,deleted_flag,deleted_time,
        name,order_no,parent_id,
        type,url
    </sql>
</mapper>
