<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sziit.infrastructure.dao.mapper.PayOrderMapper">

    <resultMap id="BaseResultMap" type="org.sziit.infrastructure.dao.domain.PayOrderEntity">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="amount" column="amount" jdbcType="DOUBLE"/>
        <result property="bizOrderNo" column="biz_order_no" jdbcType="VARCHAR"/>
        <result property="bizType" column="biz_type" jdbcType="VARCHAR"/>
        <result property="collectionId" column="collection_id" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="memberId" column="member_id" jdbcType="VARCHAR"/>
        <result property="orderDeadline" column="order_deadline" jdbcType="TIMESTAMP"/>
        <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
        <result property="state" column="state" jdbcType="VARCHAR"/>
        <result property="version" column="version" jdbcType="BIGINT"/>
        <result property="paidTime" column="paid_time" jdbcType="TIMESTAMP"/>
        <result property="cancelTime" column="cancel_time" jdbcType="TIMESTAMP"/>
        <result property="bizMode" column="biz_mode" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,amount,biz_order_no,
        biz_type,collection_id,create_time,
        member_id,order_deadline,order_no,
        state,version,paid_time,
        cancel_time,biz_mode
    </sql>
</mapper>
