<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sziit.infrastructure.dao.mapper.SmsSendRecordMapper">

    <resultMap id="BaseResultMap" type="org.sziit.infrastructure.dao.domain.SmsSendRecordEntity">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="errorMsg" column="error_msg" jdbcType="VARCHAR"/>
        <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
        <result property="sendTime" column="send_time" jdbcType="TIMESTAMP"/>
        <result property="smsType" column="sms_type" jdbcType="VARCHAR"/>
        <result property="state" column="state" jdbcType="VARCHAR"/>
        <result property="verificationCode" column="verification_code" jdbcType="VARCHAR"/>
        <result property="version" column="version" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_time,error_msg,
        mobile,send_time,sms_type,
        state,verification_code,version
    </sql>
</mapper>
